<html>
<head>
	<title>Avaliação de Desempenho</title>
</head>
<body>
	<div class="menu">
		<ul>
			<li class="home"><%= link_to "Home", home_path%></li>
			<li class="logout"><%= link_to "Log out", destroy_user_session_path, :method => :delete%></li>
		</ul>
	</div>

</body>
</html>