<!DOCTYPE html>
<html>
<head>
	<title>Resultados</title>
</head>
<body>
	<% @answers.each do |a|%>
	<h5>Avaliador</h5> <p><%=a.userLogged%></p>
	<h5>Nota</h5> <p><%=a.value%></p>
	<%end%>
</body>
</html>