.indicators {
  .indicators__list {
    .indicators__item {
      margin-top: 30px;

      .indicators__name {
        width: 50%;
        display: block;
        float: left;
      }
      .indicators__icon {
        width: 25%;
        display: block;
        float: left;
      }
    }
    span {
      border-top: 1px solid #4380B8;
      padding-top: 10px;
      padding-bottom: 10px;
      a {
        min-width: 60px;
        padding: 8px 12px;
        line-height: 1;
        border-radius: 15px;
        color: #4380B8;
        text-decoration: none;
        margin: 0 6px 12px 6px;
        display: block;
        float: left;
        text-decoration: underline;
        &:hover{
          background-color: transparent;
          background-color: rgba(black, 0.1);
        }
      }
    }
  }
  .indicators__title, .indicators__body {
    h5, p{
      width: 50%;
      display: block;
      float: left;
    }
  }
  h5 {
    font-size: 18px;
    font-weight: 700;
  }
}
.indicator-relations,.indicators {
  width: 50%;
  float: left;
}