.indicators {
  .indicators__title, .indicators__body {
    h5, p{
      width: 25%;
      display: block;
      float: left;
    }
  }
  h5 {
    font-size: 18px;
    font-weight: 700;
  }
}
.indicator-relations,.indicators {
  width: 50%;
  float: left;
}